{
    "controller": {
        "tolerations": [
            {
                "key": "karpenter",
                "operator": "Exists",
                "effect": "NoSchedule"
            }
        ],
    }
}